.content{
	width:900px;
	background-color:yellow;
}
body{
	padding:0px;
	margin:0px;
}
h1{
	color:blue;
}



#header{
	position: relative;
	foat:left;
	width: 100%;
	height:120px;
	background-color: #222;
	border: 0px;
	margin: 0px;
	padding: 0px; 
}
#header h1{
	margin: 0px;
}
#logo{
	position: absolute;
	float: left;
	padding:0px;
	margin:0px;
	top:21px;
	left: 120px;
}
#menu ul{
	margin:0px;
	padding:0px;
}
#menu ul li{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
	
#menu ul li a{
	top:85px;
	left: 60%;
	position: relative;
	float:left;
	width: 120px;
	height:33px;
	background-color: white;
	text-decoration:none;
	color:black;
	margin:1px;
	line-height:33px;
	text-align: center;
	border-radius:9px 9px 1px 1px;	
}
#menu ul li a:hover{
	top:85px;
	left: 60%;
	position: relative;
	float:left;
	width: 120px;
	height:33px;
	background-color: #333;
	color:white;
	
	margin:1px;
	line-height:33px;
	text-align: center;
	border-radius:9px 9px 1px 1px;	
}


#body{
	position: ralative;
	float:left;
	width: 100%;
	min-height: 600px;
	border:0px;
	margin:0px;
	padding:0px;
}
#login{
	position:relative;
	float:left;
	clear:both;
	top:210px;
	left:39%;
	margin: auto;
	padding:10px 30px;
	height:210px;
	width: 450px;
	border: 2px solid black;
}

#createAccount{
	position:relative;
	float:left;
	clear:both;
	top:120px;
	left:24%;
	margin: auto;
	padding:10px 30px;
	height:390px;
	width: 900px;
	border: 2px solid black;
}

#footer{
	position: relative;
	float:left;
	clear:both;
	width:100%;
	height:240px;
	background-color: #333;
	padding:0px;
	margin:0px;
}

#footer h1{
	margin:0px;